{% extends 'base.html' %}

{% block content %}
	<p>
	<br> Search <a href="https://developers.google.com/earth-engine/datasets/catalog">Google Earth Engine</a> for potential layers. Create a new layer using this button, or click on one of the existing layers below to view and edit it. 
	<br>
	<br><a href="{% url 'layer_create' %}"><button class="btn btn-primary">Create Layer</button></a>
	<br>
	<br>
	</p>
	{% for layer in layer_list %}
		<article>
			<div class="header">
				<h3><a href="{% url 'layer_detail' pk=layer.pk %}">{{ layer.name }}</a></h3>
				<div class="icon-container">
					<a class="Icon" href="{% url 'layer_edit' pk=layer.pk %}"><i class="fa-light fa-pencil" title="Edit"></i></a> 
					<a class="Icon" href="{% url 'layer_delete' pk=layer.pk %}"><i class="fa-regular fa-trash-can"></i></a>
				</div>
			</div>
			<p>{{ project.description|linebreaksbr }}</p>
			<p><b></p>
		</article>
	{% endfor %}
{% endblock %}
