{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2>{% if request.resolver_match.url_name == 'map_edit'  %} Edit {% else %} New {% endif %} Map</h2>
    <form method="POST" class="map-form w-75">{% csrf_token %}
        {{form.media}}
        {{ form|crispy }}

        <button type="submit" class="save btn btn-secondary">Save</button>
    </form>
{% endblock %}

{% block javascript %}
<script>
    $( function() {
        $( "#datepicker_start" ).datepicker();
        $( "#datepicker_end" ).datepicker();
    } );

  </script>
{% endblock %}